<div class="p-md-5 p-sm-1 p-xs-1 pt-5 text-center container-fluid" style="height: 100%!important; overflow: visible"
*ngIf="projectLoaded">
    <h2 class="text-primary font-weight-bold projects-title">{{project.name}}</h2>
    <div class="container-fluid clearfix">
        <div class="text-left p-4" style="position: relative">
                <span class="subtitle p-2" style="font-size: 1.4rem">TIPOS</span>
        </div>
        <app-types [loadedTypes]="project.projectTypes" [show]="false"></app-types>
    </div>
    <div class="p-1">
        <div class="text-left p-4" style="position: relative">
            <span class="subtitle p-2" style="font-size: 1.4rem">TORRES</span>
        </div>
        <app-tower-details [project]="project" [projectIndex]="projectId"></app-tower-details>
    </div>
</div>
<button *ngIf="checkRol()" mdbBtn floating="true" size="md" class="floating" mdbWavesEffect [routerLink]="['/editProject', projectId]">
    <mdb-icon fas icon="plus"></mdb-icon>
</button>
