.projects-title {
    position: relative;
    background-color: white;
}

.projects-title::after {
    content: " ";
    position: absolute;
    height: 3px;
    background-color: #359bcc;
    overflow: visible;
    width: 90%;
    margin: 0 5% 0 5%;
    left: 0;
    bottom: -10px;
}

.subtitle {
    font-weight: bold;
    position: relative;
    padding-right: 40px!important;
    overflow: hidden;
    color: #359bcc;
}

.floating {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #2c83ac;
    display: grid;
    align-content: center;
    justify-content: center;
    transition: all 0s ease-in;
    border: none;
}


