.spacer {
    flex: 1 1 auto;
}

.list-group-item {
    border: none !important;
}

.list-group-item {
    @include responsive-font-size(1.2rem)!important;
    font-weight: 400!important;
}

/deep/table {
    @include responsive-font-size(1.2rem)!important;
}