<div class="p-4 text-center">
    <span>¿Esta es una nueva visita?</span>
    <div class="row justify-content-center">
        <button type="button" mdbBtn class="waves-light bg-primary white-text" aria-label="Close" (click)="onYesClick()"
            mdbWavesEffect>Sí</button>
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="onNoClick()"
            mdbWavesEffect>No</button>
    </div>
</div>