.image-upload {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    margin: 0px auto;
    padding: 20px;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 2px dashed #707070;
    position: relative;
    cursor: pointer;
    height: auto;
    width:100%;
}

.image-upload-input {
    position: absolute!important;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    top:0;
    left:0;
    cursor: pointer;
}

h2 {
    font-weight: bold;
    font-size: 25px!important;
    line-height: 29px;
    color: #646464;
}

h3 {
    font-weight: normal;
    font-size: 18px!important;
    line-height: 21px;
    color: #646464;
}

strong {
    color: black;
}

.main-text {
    padding: 30px 0;
}

.drag-text {
    padding: 5px;
}

.drag-text > span {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #646464;
}

.image-upload-content {
    /* display: none; */
    text-align: center;
}

.upload-image {
    width: 100%;
    margin: auto;
}

.delete-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    opacity: 0;
}



.project-image::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
}

.project-image-container:hover .project-image::after{
    width: 100%;
    height: 100%;
    background: darkblue;
    opacity: 0.6;
}

.project-image-container:hover .delete-image{
    opacity: 1;
}