<form [formGroup]="projectForm">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <!-- project image selection -->
            <div class="image-upload" *ngIf="!imageIsLoaded()">
                <div class="image-upload-wrap" style="display: block;">
                    <input class="image-upload-input" accept="image/*" (change)="loadImage($event)" type="file">
                    <div class="drag-text">
                        <div class="main-text">
                            <h2>Arrastra y suelta</h2>
                            <h3>ó <strong>busca</strong> el archivo</h3>
                        </div>
                        <span>2600 x 2200 or mayor, hasta 10MB</span>
                    </div>
                </div>
            </div>
            <div *ngIf="imageIsLoaded()" class="position-relative project-image-container">
                <div class="project-image position-relative w-100">
                    <img [src]="getImageSource()" class="img-fluid w-100">
                </div>
                <div class="delete-image" *ngIf="!imageUrl">
                    <button mdbBtn type="button" color="danger" mdbWavesEffect (click)="clearImage()">Eliminar</button>
                </div>
            </div>
            <div style="color: red" *ngIf="projectForm.get('image').invalid && projectForm.get('image').touched">La imagen del proyecto es requerida.</div>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="md-form">
                <input type="text" class="form-control" formControlName="name"
                (change)="changeName($event)" mdbInput mdbValidate id="name">
                <label for="name">Nombre</label>
            </div>
            <div class="md-form">
                <input type="text" class="form-control" formControlName="towerName"
                (change)="changeTowers($event)" mdbInput mdbValidate id="towers">
                <label for="towers">Torre</label>
                <mdb-error *ngIf="projectForm.get('towerName').hasError('minlength')">De contener almenos 3 caracteres</mdb-error>
            </div>
            <div class="md-form">
                <input type="text" class="form-control" formControlName="city"
                (change)="changeCity($event)" mdbInput mdbValidate id="city">
                <label for="towers">Ciudad</label>
                <mdb-error *ngIf="projectForm.get('city').hasError('minlength')">De contener almenos 3 caracteres</mdb-error>
            </div>
            <div class="md-form">
                <input type="number" class="form-control" formControlName="aptos"
                (change)="changeAptos($event)" mdbInput mdbValidate id="aptos"> <!-- formControlName="password" -->
                <label for="aptos">Apartamentos</label>
            </div>
        </div>
    </div>
</form>