<div class="nom-titles row m-1">
    <mdb-card class="col-md-4 col-sm-12">
        <mdb-card-body>
            <div class="nom-title">
                <h3 class="data">{{numAptos}}</h3>
                <h3 class="header">Total Aptos</h3>
            </div>
        </mdb-card-body>
    </mdb-card>
    <mdb-card class="col-md-4 col-sm-12">
        <mdb-card-body>
            <div class="nom-title">
                <h3 class="data">{{createdAptos}}</h3>
                <h3 class="header">Aptos Creados</h3>
            </div>
        </mdb-card-body>
    </mdb-card>
    <mdb-card class="col-md-4 col-sm-12">
        <mdb-card-body>
            <div class="nom-title">
                <h3 class="data">{{numAptos - createdAptos}}</h3>
                <h3 class="header">Aptos Faltantes</h3>
            </div>
        </mdb-card-body>
    </mdb-card>
</div>

<form [formGroup]="nomenclatureForm">
    <mdb-card class="pb-4">
        <mdb-card-body style="position: relative">
            <button mdbBtn floating="true" size="sm" class="floating" mdbWavesEffect mdbTooltip="Agregar nomenclantura" placement="right"
        (click)="addRange()">
    <mdb-icon fas icon="plus"></mdb-icon>
        </button>
            <div formArrayName="ranges" >
            <div *ngFor="let range of ranges.controls; let i = index" [formGroupName]="i" style="position: relative;">
                <div class="row align-items-center pl-4 text-center border-bottom pb-3" style="justify-content: center; border-color: #87c1ff!important">
                    <div class="md-form col-md-3 col-sm">
                        <input formControlName="delpiso" type="number" class="form-control" id="{{'delpiso' + i}}" mdbInput mdbValidate>
                        <label for="{{'delpiso' + i}}">Del piso</label>
                    </div>
                    <div class="md-form col-md-3 col-sm">
                        <input formControlName="alpiso" type="number" class="form-control" id="{{'alpiso' + i}}" mdbInput mdbValidate>
                        <label for="{{'alpiso' + i}}">Al piso</label>
                    </div>
                    <div class="md-form col-md-3 col-sm">
                        <input formControlName="numApartamentos"
                        type="number" class="form-control" id="{{'aptos' + i}}" mdbInput mdbValidate >
                        <label for="{{'aptos' + i}}"># Apartamentos</label>
                    </div>
                    <div class="md-form col-md-1 col-sm">
                        <input formControlName="nom1" type="number" class="form-control" id="{{'n1' + i}}" mdbInput mdbValidate>
                        <label for="{{'n1' + i}}">N1</label>
                    </div>
                    <div class="md-form col-md-1 col-sm">
                        <input formControlName="nom2" type="number" class="form-control" id="{{'n2' + i}}" mdbInput mdbValidate>
                        <label for="{{'n2' + i}}">N2</label>
                    </div>
                    <mdb-icon fas icon="trash" style="color:red; cursor:pointer" (click)="deleteRange(i)"></mdb-icon>
                    <div class="d-flex nomError"><label *ngIf="nomenclatureForm.get('ranges').get(i.toString()).hasError('noms')"> N1 debe ser menor o igual que N2</label></div>
                    <div class="d-flex nomError"><label *ngIf="nomenclatureForm.get('ranges').get(i.toString()).hasError('nomsCount')"> La cantidad de apartamentos debe coincidir con la cantidad de apartamentos en la nomenclatura</label></div>
                </div>
                </div>
        </div>
        <div class="d-flex nomError"><label *ngIf="nomenclatureForm.hasError('aptos')">No debe exceder el número de aptos</label></div>
        </mdb-card-body>
    </mdb-card>
    <div> <button type="submit" (click)="generateNom()" mdbBtn>Guardar Nomenclatura</button></div>
</form>
