.data , .header {
    font-weight: normal!important;
}

.floating {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background: #2c83ac;
    display: grid;
    align-content: center;
    justify-content: center;
    transition: all 0s ease-in;
}

.nomError {
    width: 100%;
    color: red;
    justify-content: center;
    position: absolute;
    bottom: -3px;
    font-size: 13px;
}