<div class="p-2">
    <div class="row justify-content-center p-1 m-3">{{question}}</div>
    <div class="row justify-content-center p-1">
        <button mdbWavesEffect primary class="z-depth-1" (click)="onYesClick()">Sí</button>
        <button mdbWavesEffect danger class="z-depth-1" (click)="onNoClick()">No</button>
    </div>
</div>
