button {
    border:none;
    color: white;
    border-radius: 10em;
    padding: 5px 20px;
    margin: 0 5px;
    font-size: .81rem;
}

[danger] {
    background-color: #ff3547 
}

[primary] {
    background-color: #359bcc;
}