<div class="pt-4">
    <mdb-select *ngIf="status === 'online'" (selected)="goToAptoSelection($event)" [options]="projects" label="Proyecto"
        placeholder="Elige un proyecto" class="colorful-select dropdown-primary">
    </mdb-select>
    <div *ngIf="status === 'offline'">
        <app-delivery-apto></app-delivery-apto>
    </div>
</div>