<div class="h-100">
    <div class="w-100">
        <h2 class="text-primary font-weight-bold projects-title mb-4">{{project.name}}</h2>
        <h4 class="subtitle white-text mt-2">{{tower}}</h4>
        <h3 class="p-2 apto">Apartamento {{nomenclature.number}}</h3>
        <h5 class="type">Tipo: {{nomenclature.projectTypeId}}</h5>
    
        
    
        <div class="d-flex justify-content-end align-items-center text-primary add-text">
            <div>
                <div style="display: flex; position: relative;">
                    <input (change)="readFile($event)" class="add-input"
                    type="file" id="input" />
                    <a>Añadir Reforma</a>
                    <div class="plus-icon">
                        <mdb-icon fas icon="plus"></mdb-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100">
        <div *ngIf="nomenclature.reforms.length <= 0; else withReforms" class="d-flex justify-content-center">
            <p class="pt-4 font-weight-bold">No hay reformas para mostrar</p>
        </div>
        <ng-template #withReforms style="width:100%; overflow: scroll">
            <table mdbTable striped="true" style="width: 100%; overflow: scroll">
                <thead>
                  <tr>
                    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let reform of reforms">
                    <tr>
                      <td style="background-color: #b4d8ff;" class="font-weight-bold" colspan="4">{{reform[0]}} <mdb-icon fas icon="trash" (click)="openConfirmationModal(reform[0])" style="color:#ff4444; cursor: pointer;"></mdb-icon></td>
                    </tr>
                    <tr mdbTableCol *ngFor="let reforma of reform[1]">
                      <td scope="row">{{reforma.name}}</td>
                      <td>{{reforma.quantity}}</td>
                      <td>{{reforma.unitaryPrice}}</td>
                      <td>{{reforma.totalPrice}}</td>
                    </tr>
                    <tr>
                      <td colspan="3"></td>
                      <td class="font-weight-bold">{{getTotal(reform[1])}}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
              <div class="d-flex justify-content-end font-weight-bold pr-4"> Total: {{getTotal(nomenclature.reforms)}}</div>
        </ng-template>
    </div>
</div>