
.subtitle {
    position: relative;
    color: white;

}

.subtitle::before {
    content: " ";
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    position:absolute;
    background-color: #359bcc;
    z-index: -1;
}

.type {
    color: #979799;
}

.apto {
    margin: 0;
}


thead {
    background-color: #359bcc!important;
    color: white;
    font-weight: bold;
}

thead > tr > th:first-child {
    border-radius: 10px 0 0 0!important;
}

thead > tr > th:last-child {
    border-radius: 0 10px 0 0!important;
}

.switch.success-switch label input[type=checkbox]:checked + .lever {
    background-color: #2ACC6C;
}

.plus-icon {
    background-color: #359bcc;
    color: white!important;
    padding: 1px 5px;
    border-radius: 50%;
    margin-left: 3px;
}

.add-text {
    font-weight: bold;
    cursor: pointer;
}

.add-input {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}