<div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title w-100" id="myModalLabel">{{space? 'Agregar Caracteristicas' : 'Agregar Espacio'}}</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="spaceForm">
            <div class="md-form">
                <input formControlName="spaceName" type="text" class="form-control" id="space" mdbInput mdbValidate >
                <label for="space">Espacio</label>
                <span *ngIf="spaceName.invalid" style="color: red;">Es requerido</span>
            </div>
            <div class="md-form">
                <input formControlName="feature" type="text" class="form-control" id="feature" mdbInput mdbValidate
                (keydown.enter)="handleChip()">
                <label for="feature">Caracteristicas</label>
                <span *ngIf="feature.hasError('minlength')" style="color: red;">Debe tener mínimo 3 carácteres</span>
                <span *ngIf="feature.hasError('maxlength')" style="color: red;">Debe tener máximo 100 carácteres</span>
            </div>
        </form>
        <div class="chip-list">
            <div class="chip primary-color text-white" *ngFor="let feat of features">
                {{feat}}
                <mdb-icon fas icon="times" class="close" (click)="deleteChip(feat)"></mdb-icon>
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="onNoClick()" mdbWavesEffect>Cancelar</button>
      <button type="button" mdbBtn class="c-primary" class="relative waves-light" (click)="onYesClick()" mdbWavesEffect [disabled]="features.length <= 0 || spaceForm.invalid">Guardar</button>
    </div>
  </div>
