/deep/.classic-tabs .nav li a.active {
    font-weight: bold!important;
    color: white!important;
}

/deep/.classic-tabs .nav li a {
    font-weight: normal!important;
}

.floating {
    position: relative;
    bottom: 10px;
    right: 23px;
    background: #2c83ac;
    display: grid;
    align-content: center;
    justify-content: center;
    transition: all 0s ease-in;
    border:none;
}

.floating-container {
    position: sticky;
    bottom: 10px;
    right: 10px;
}

/deep/.container-fluid {
    padding: 0!important;
}

.types {
    position: absolute;
    top: -53px;
    right: 0;
    background: white;
    display: grid;
    align-content: center;
    justify-content: center;
    transition: all 0s ease-in;
    border:none;
}

.types > * > /deep/.fa-plus, .types > * {
    color: #2c83ac!important;
}


@media (max-width: 576px) {
    /deep/.nav {
        flex-wrap: nowrap!important;
    }
 }

