<div>
    <div style="position:relative" class="container-fluid col-sm-10" style="min-height: 400px!important; margin-top: 20px;">
        <!-- Nav tabs -->
    <mdb-tabset #staticTabs [buttonClass]="'classic-tabs mx-2 primary-color'" [contentClass]="'card'" class="classic-tabs" *ngIf="!loadingtype"
    (getActiveTab)="onGetActiveTab($event)" style="position:relative; padding:0; min-height: 200px!important;">
        <!--Panel 1-->
        <mdb-tab *ngFor="let type of types" heading="{{type.name}}">
            <div class="row w-100 justify-content-center
            ">
                <button (click)="changeTypeName(type)" color="primary" mdbBtn>Cambiar nombre del tipo ({{type.name}})</button>
                <button (click)="deleteType(type)" color="danger" mdbBtn>Eliminar tipo ({{type.name}})</button>
                <button *ngIf="!show" (click)="duplicateType(type)" color="success" mdbBtn>Duplicar tipo ({{type.name}})</button>
            </div>
            <div class="row w-100" *ngIf="type.spaces.length > 0; else noSpaces">
                <!-- Cards -->
                <div class="col-md-3  col-sm-6 p-1 d-flex align-items-stretch" *ngFor="let space of type.spaces">
                    <mdb-card  *ngIf="space.name != 'Reformas'" class="p-1 col-offset-2 w-100">
                        <!--Card content-->
                        <mdb-card-body style="height: 100%">
        
                            <!--Title-->
                            <mdb-card-title class="text-dark">
                                <h4>{{space.name}}</h4>
                                <mdb-icon fas icon="edit" class="edit" (click)="changeSpaceName(space)"></mdb-icon>
                                <mdb-icon fas icon="times" class="close" (click)="deleteSpace(type, space)"></mdb-icon>
                            </mdb-card-title>
        
                            <hr>
        
                            <!--Text-->
                            <mdb-card-text class="text-justify text-center">
                                <!-- chips -->
                                <div class="chip m-1 px-2 bg-second text-black font-weight-normal" *ngFor="let feature of space.features">
                                     {{feature.name || feature}}
                                     <mdb-icon fas icon="times" class="close" (click)="deleteFeature(type, space, feature)"></mdb-icon>
                                     <mdb-icon fas icon="edit" class="edit" (click)="changeFeatureName(type, space, feature)"></mdb-icon>
                                  </div>
                                  <button type="button" mdbBtn color="primary" rounded="true" outline="true" mdbWavesEffect
                                  (click)="addFeatures(space)">Agregar</button>
                            </mdb-card-text>
                        </mdb-card-body>
                        <!--/.Card content-->
                    </mdb-card>
                    <!--/.Card-->
                </div>
            </div>
            <button mdbBtn *ngIf="!show && types?.length > 0" type="button" mdbWavesEffect color="primary" (click)="createSpace(type)">Agregar espacio</button>
            <ng-template #noSpaces>
                No hay espacios para mostrar 
            </ng-template>
        </mdb-tab>
        <button mdbBtn floating="true" size="sm" class="types" mdbWavesEffect
    (click)="openTypeCreationModal()" *ngIf="show">
        <mdb-icon fas icon="plus"></mdb-icon>
    </button>
    <button mdbBtn floating="true" size="sm" class="types" mdbWavesEffect
    (click)="createType()" *ngIf="!show">
        <mdb-icon fas icon="plus"></mdb-icon>
    </button>
    </mdb-tabset>
    <div class="row justify-content-end floating-container" *ngIf="show && types?.length > 0">
        <button mdbBtn floating="true" size="sm" class="floating" mdbWavesEffect
    (click)="openModal()">
        <mdb-icon fas icon="plus"></mdb-icon>
    </button>
    </div>
    </div>
    <div *ngIf="typesForm">
        <div style="color: red" *ngIf="typesForm.get('haveTypes').invalid && typesForm.get('haveTypes').touched">Debe crear almenos un tipo de proyecto</div>
        <div style="color: red" *ngIf="typesForm.get('typesChecked').invalid && typesForm.get('typesChecked').touched">Todos los tipos de proyecto deben tener almenos un espacio</div>
    </div>
</div>