<div class="p-md-5 p-3 pt-5 text-center" style="height: 100%!important;" *ngIf="loaded">
    <h2 class="text-primary font-weight-bold projects-title">Nuevo Proyecto</h2>
    <mdb-stepper #stepper [linear]="true" style="overflow: visible; height: 100%!important;" (stepChange)="onStepChange($event)">
        <mdb-step name="Proyecto" [stepForm]="projectForm">
          <!-- content -->
          <app-project-first-step [projectForm]="projectForm" [imageB64]="project?.imageBase64" [imageUrl]="project?.image_url"></app-project-first-step>
          <button mdbBtn size="sm" class="c-primary" (click)="stepper.next(); saveStep(0)">Guardar y Continuar</button>
        </mdb-step>
        <mdb-step name="Tipos" style="padding-top: 50px;" [stepForm]="secondStepForm">
          <!-- content -->
          <div style="padding-top: 50px;">
            <app-types [show]="true" [loadedTypes]="project?.types" [typesForm]="secondStepForm" style="min-height: 300px!important;"></app-types>
          </div>
          <button mdbBtn size="sm" class="c-primary" (click)="stepper.next(); saveStep(1)">Guardar y Continuar</button>
          <button mdbBtn size="sm" color="secondary" (click)="stepper.previous()">Atras</button>
        </mdb-step>
        <mdb-step name="Nomenclatura" [stepForm]="nomenclatureForm">
            <!-- content -->
            <app-nomenclature [numAptos]="projectForm.get('aptos').value" [noms]="mapNoms" [nomenclatureForm]="nomenclatureForm"></app-nomenclature>
            <button mdbBtn size="sm" class="c-primary" (click)="stepper.next(); saveStep(2)">Guardar y Continuar</button>
            <button mdbBtn size="sm" color="secondary" (click)="stepper.previous()">Atras</button>
        </mdb-step>
        <mdb-step name="Reasignar" [stepForm]="typesForm">
            <!-- content -->
            <app-summary style="height: 100%; display: block;" [setCacheid]="cacheId" [noms]='noms' [editing]='editing'
            [projectIndex]='projectId' [typesForm]="typesForm"></app-summary>
          
        </mdb-step>
      </mdb-stepper>
</div>