.projects-title {
    position: relative;
    background-color: white;
}

.projects-title::after {
    content: " ";
    position: absolute;
    height: 3px;
    background-color: #2EA5B0;
    overflow: visible;
    width: 90%;
    margin: 0 5% 0 5%;
    left: 0;
    bottom: -10px;
}

/deep/.step-new-content {
    height: 100%!important;
    min-height: 500px;
    overflow-y: scroll;
}

/deep/.card-body {
    height: 100%!important;
}

/deep/.stepper, .horizontal {
    height: 100%!important;
    overflow: visible!important;
}
