<div class="p-2">
    <div class="row justify-content-center p-1">{{question}}</div>
    <input type="text" [(ngModel)]="answer" mdbInput class="form-control">
    <div class="row justify-content-center p-1">
        <button mdbWavesEffect color="primary" mdbBtn class="z-depth-1" (click)="confirmar()">Confirmar</button>
        <button mdbWavesEffect color="danger" mdbBtn class="z-depth-1" (click)="cancelar()">Cancelar</button>
    </div>
</div>
