<div *ngIf="audits == undefined || audits.length == 0; else withAudits">No hay auditorias para este apartamento</div>
<ng-template #withAudits>
    <h2>{{tower}}</h2>
<ul class="list-group p-sm-1">
    <li class="list-group-item d-flex row p-sm-1">
        <div class="col-2 p-0">Autor</div>
        <div class="col-1 p-0">Apto</div>
        <div class="col-4 p-0">Revisión</div>
        <div class="col-4 p-0">Estado</div>
        <div class="col-1 p-0">PDF</div>
    </li>
    <ng-container *ngIf="ready">
        <li class="list-group-item d-flex row {{audit?.nomenclatureState}} align-middle" *ngFor="let audit of audits; let j = index">
            <div class="col-2 p-0"><div (click)="goToAuditHistory(nomenclature.number, audit.id, j)">{{audit.auditor}}</div></div>
            <div class="col-1 p-0 d-flex align-items-center justify-content-center" (click)="goToAuditHistory(nomenclature.number, audit.id, j)">{{nomenclature.number}}</div>
            <div class="col-4 p-0 d-flex align-items-center justify-content-center" (click)="goToAuditHistory(nomenclature.number, audit.id, j)">{{getDate(audit?.lastModifiedDate?.date)}}</div>
            <div class="col-4 p-0 d-flex align-items-center justify-content-center" (click)="goToAuditHistory(nomenclature.number, audit.id, j)" >{{audit?.nomenclatureState}}</div>
            <!-- <ng-template #desistido><div class="col-4 p-0 d-flex align-items-center justify-content-center" >Desistido {{audit.desistido}}</div></ng-template> -->
            <mdb-icon class="col-1 p-0 d-flex align-items-center justify-content-center" fas icon="file-pdf" (click)="exportTopdf(audit.id, nomenclature, j)">pdf</mdb-icon>
        </li>
    </ng-container>
  </ul>
</ng-template>

