<div class="p-sm-5 p-lg-5 p-md-1 pt-5 text-center">
  <button *ngIf="checkRol()" (click)="resetProject()" class="btn-floating btn-lg btn-default floating" routerLink="/new_project"><i class="fas fa-plus primary-color-dark"></i></button>
  <h2 class="text-primary font-weight-bold projects-title">Proyectos {{cache? 'En cache' : ''}}</h2>
<mdb-tabset #staticTabs [buttonClass]="'nav md-pills pills-primary mb-2'" [justified]="true" [contentClass]="'card'">
  <!--Panel 1-->
  <mdb-tab heading="Creados">
    <div class="row" *ngIf="loaded; else loading">
      <div class="col-lg-4 col-md-6 p-2 col-sm-6 text-md-left text-sm-center" *ngFor="let project of projectdata; let i = index">
          <div class="project-card align-items-center p-md-1 z-depth-1 rounded" style="cursor: pointer">
              <!--Card image-->
              <div class="card-content row m-1 rounded" [routerLink]="['/project', project.projectId]" (click)="resetProject()">
                  <img class="card-image col-7 p-0" src="{{getProjectImage(project.imgUrl)}}">
                <!--Card content-->
                <div class="card-body col-5 pl-3 p-1 d-flex align-items-center">
                  <div>
                    <!--Title-->
                  <div class="card-title">
                    <h5>{{project.name}}</h5>
                  </div>
              
                  <!--Text-->
                  <div class="card-text"> 
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item p-1">Torres: {{project.torres}}</li>
                          <li class="list-group-item p-1">Aptos: {{project.nomenclatures}}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-actions d-flex justify-content-center p-md-1">
                <button mdbWavesEffect primary class="z-depth-1" [routerLink]="['/project', project.projectId]" (click)="resetProject()">Ver</button>
                <button mdbWavesEffect danger class="z-depth-1" (click)="openConfirmationModal(project.name, project.projectId)">Eliminar</button>
              </div>
            </div>
      </div>
  </div>
  <ng-template #loading>
    ... Cargando
  </ng-template>
  </mdb-tab>
  <!--Panel 2-->
  <mdb-tab heading="En progreso">
    <div class="row" *ngIf="cacheloaded; else cacheloading">
      <div class="col-md-4 p-2 col-sm-6 text-md-left text-sm-center" *ngFor="let project of projectdataCache; let i = index">
        <div class="project-card align-items-center p-md-1 z-depth-1 rounded" style="cursor: pointer">
            <!--Card image-->
            <div class="card-content row m-1 rounded" [routerLink]="['/new_project', project.cacheId]" (click)="resetProject()">
                <img class="card-image col-7 p-0" src="{{getProjectImage(project.image_url)}}">
              <!--Card content-->
              <div class="card-body col-5 pl-3 p-1 d-flex align-items-center">
                <div>
                  <!--Title-->
                <div class="card-title">
                  <h5>{{project.name}}</h5>
                </div>
            
                <!--Text-->
                <div class="card-text"> 
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item p-1">Aptos: {{project.nomenclatures}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="progress w-100 my-2">
              <div class="progress-bar text-white" role="progressbar" [style.width]="project.progress + '%'" aria-valuemin="0" aria-valuemax="100">{{project.progress}}%</div>
            </div>
            <div class="card-actions d-flex justify-content-center p-md-1">
              <button mdbWavesEffect primary class="z-depth-1" [routerLink]="['/new_project', project.cacheId]" (click)="resetProject()">Ver</button>
              <button mdbWavesEffect danger class="z-depth-1" (click)="openConfirmationModalAdvances(project.name, project.cacheId)">Eliminar</button>
            </div>
          </div>
    </div>
    </div>
    <ng-template #cacheloading>
      ... {{loadingMessage}}
    </ng-template>
  </mdb-tab>
</mdb-tabset>
</div>