<div class="row h-100 d-flex w-100 justify-content-center align-items-center">
    <!-- Material form login -->
<mdb-card class="w-75">

    <mdb-card-header class="info-color white-text text-center py-4">
      <h5>
        <strong>Iniciar Sesión</strong>
      </h5>
    </mdb-card-header>
  
  
    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">
  
      <!-- Form -->
      <form class="text-center" style="color: #757575;" [formGroup]="loginForm">

        <!-- Email -->
        <div class="md-form">
          <input type="email" id="materialLoginFormEmail" class="form-control" mdbInput formControlName="email">
          <label for="materialLoginFormEmail">Correo Electrónico</label>
        </div>
  
        <!-- Password -->
        <div class="md-form">
          <input type="password" id="materialLoginFormPassword" class="form-control" mdbInput formControlName="password">
          <label for="materialLoginFormPassword">Contraseña</label>
        </div>
  
        <!-- Sign in button -->
        <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
          type="submit" (click)="login()">Iniciar Sesión</button>

      </form>
      <!-- Form -->
  
    </mdb-card-body>
  
  </mdb-card>
  <!-- Material form login -->
</div>