<mdb-carousel [animation]="'slide'" [isControls]="true">
    <mdb-carousel-item *ngFor="let pic of pictures">
      <img class="d-block w-100" [src]="pic.url" alt="First slide">
    </mdb-carousel-item>
  </mdb-carousel>
