<div class="px-2">
    <form class="d-flex w-100 flex-wrap" [formGroup]="deliveryForm">
        <div class="md-form col-md-3 col-sm-4 col-6">
            <input formControlName="name" type="text" class="form-control" id="name" mdbInput mdbValidate>
            <label for="name">Nombre</label>
            <mdb-error *ngIf="deliveryForm.controls.name.hasError('required') && deliveryForm.controls.name.touched">Campo requerido</mdb-error>
        </div>
        <div class="md-form col-md-3 col-sm-4 col-6">
            <input formControlName="id" type="text" class="form-control" id="id" mdbInput mdbValidate pattern="[0-9]*">
            <label for="id">Identificación</label>
            <mdb-error *ngIf="deliveryForm.controls.id.hasError('pattern') && deliveryForm.controls.id.touched">Solo números</mdb-error>
            <mdb-error *ngIf="deliveryForm.controls.id.hasError('required') && deliveryForm.controls.id.touched">Campo requerido</mdb-error>
        </div>
        <div class="md-form col-md-3 col-sm-4 col-6">
            <input formControlName="parking" type="text" class="form-control" id="parking" mdbInput mdbValidate>
            <label for="parking">Parqueadero</label>
            <mdb-error *ngIf="deliveryForm.controls.parking.hasError('required') && deliveryForm.controls.parking.touched">Campo requerido</mdb-error>
        </div>
        <div class="md-form col-md-3 col-sm-4 col-6">
            <input formControlName="usefulRoom" type="text" class="form-control" id="usefulRoom" mdbInput mdbValidate>
            <label for="usefulRoom">Cuarto Útil</label>
            <mdb-error *ngIf="deliveryForm.controls.usefulRoom.hasError('required') && deliveryForm.controls.usefulRoom.touched">Campo requerido</mdb-error>
        </div>
        <div class="md-form col-md-3 col-sm-4 col-6">
            <input formControlName="address" type="text" class="form-control" id="address" mdbInput mdbValidate>
            <label for="address">Dirección</label>
            <mdb-error *ngIf="deliveryForm.controls.address.hasError('required') && deliveryForm.controls.address.touched">Campo requerido</mdb-error>
        </div>
        <div class="md-form col-md-3 col-sm-4 col-6">
            <input formControlName="municipality" type="text" class="form-control" id="municipality" mdbInput mdbValidate>
            <label for="municipality">Municipio</label>
            <mdb-error *ngIf="deliveryForm.controls.municipality.hasError('required') && deliveryForm.controls.municipality.touched">Campo requerido</mdb-error>
        </div>
        <div class="md-form col-md-3 col-sm-4 col-6">
            <input formControlName="energy" type="text" class="form-control" id="energy" mdbInput mdbValidate>
            <label for="energy">Energia</label>
            <mdb-error *ngIf="deliveryForm.controls.energy.hasError('required') && deliveryForm.controls.energy.touched">Campo requerido</mdb-error>
        </div>
        <div class="md-form col-md-3 col-sm-4 col-6">
            <input formControlName="aqueduct" type="text" class="form-control" id="aqueduct" mdbInput mdbValidate>
            <label for="aqueduct">Acueducto</label>
            <mdb-error *ngIf="deliveryForm.controls.aqueduct.hasError('required') && deliveryForm.controls.aqueduct.touched">Campo requerido</mdb-error>
        </div>
        <div class="md-form col-md-3 col-sm-4 col-6">
            <input formControlName="gas" type="text" class="form-control" id="gas" mdbInput mdbValidate>
            <label for="gas">Gas</label>
            <mdb-error *ngIf="deliveryForm.controls.gas.hasError('required') && deliveryForm.controls.gas.touched">Campo requerido</mdb-error>
        </div>
        <div class="md-form col-md-3 col-sm-4 col-6">
            <input formControlName="firmMunicipality" type="text" class="form-control" id="firmMunicipality" mdbInput mdbValidate>
            <label for="firmMunicipality">Municipio de firma</label>
            <mdb-error *ngIf="deliveryForm.controls.firmMunicipality.hasError('required') && deliveryForm.controls.firmMunicipality.touched">Campo requerido</mdb-error>
        </div>
        <div class="md-form col-md-3 col-sm-4 col-6">
            <input formControlName="email" type="text" class="form-control" id="email" mdbInput mdbValidate>
            <label for="email">Email</label>
            <mdb-error *ngIf="deliveryForm.controls.email.hasError('email') && deliveryForm.controls.email.touched">Debe ser un correo válido</mdb-error>
            <mdb-error *ngIf="deliveryForm.controls.email.hasError('required') && deliveryForm.controls.email.touched">Campo requerido</mdb-error>
        </div>
    </form>
    <div class="text-left">
        <span>Firma propietario</span>
        <div class="signature-container" #signcontainer id="signcontainer">
            <signature-pad #sign_canvas fxFlex="1 1 50" (window:resize)="resizeSignaturePad()"
            class="signature" 
            id="sign_canvas" fxFlexAlign.xs="center" [options]="signaturePadOptions" (onBeginEvent)="drawStart()"
            (onEndEvent)="drawComplete()"></signature-pad>
            <mdb-icon fas icon="times" class="ml-1" (click)="clear1()"></mdb-icon>
        </div>
        <span>Firma ingeniero</span>
        <div class="signature-container" >
            <signature-pad #sign_canvas2 fxFlex="1 1 50" (window:resize)="resizeSignaturePad()"
            class="signature" 
            id="sign_canvas2" fxFlexAlign.xs="center" [options]="signaturePadOptions" (onBeginEvent)="drawStart()"
            (onEndEvent)="drawComplete2()"></signature-pad>
            <mdb-icon fas icon="times" class="ml-1" (click)="clear2()"></mdb-icon>
        </div>
    </div>
    <button mdbBtn color="primary" class="waves-light" type="button" (click)="test.toggle()" mdbWavesEffect>
        Ver el contrato
      </button>
      
      <div class="text-justify" mdbCollapse #test="bs-collapse">
        <p>{{CONTRACT}}</p>
      </div>
    <div *ngIf="!btnDisabled">
        <button type="button" mdbBtn class="c-primary" mdbWavesEffect (click)="openConfirmationModal()" >Generar pdf y terminar</button>
    </div>
    <div class="spinner-border text-info" role="status" *ngIf="btnDisabled">
        <span class="sr-only">Loading...</span>
      </div>
</div>