<div class="p-md-3 p-sm-1 container-fluid">
    <mdb-accordion [multiple]="false">
        <mdb-accordion-item [collapsed]="false" *ngFor="let tower of project.towers; let i = index">
          <mdb-accordion-item-head class="bg-second">{{tower.name}} </mdb-accordion-item-head>
          <mdb-accordion-item-body>
            <ul class="list-group">
                <li class="list-group-item d-flex align-items-center" *ngFor="let apto of tower.nomenclaturesPage?.pageContent; let j = index">
                    <div>Apto {{apto.number}}</div>
                    <div class="spacer"></div>
                    <!-- <div class="row">
                      <div class="pr-5">
                        <mdb-select [options]="optionsSelect" placeholder="Choose your option" (selected)="changeType($event, apto.nom, apto.tower)"></mdb-select>
                      </div>
                    </div> -->
                    <div class="{{apto.state}}" (click)="openVisitModal(i, j, apto.state)">{{apto.state}}</div>
                </li>
              </ul>
              <nav aria-label="Page navigation example my-3" *ngIf="paginadores">
                <ul class="pagination pg-blue justify-content-center">
                  <li class="page-item" (click)="previous(paginadores[i], tower)">
                    <span class="page-link">Previous</span>
                  </li>
                  <li *ngFor="let pagenum of paginadores[i].pages; let p = index" class="page-item {{(pagenum === paginadores[i].page)? 'active' : ''}}" (click)="setPaginador(paginadores[i], p, tower)"><a class="page-link" mdbWavesEffect>{{pagenum + 1}}</a></li>
                  <li class="page-item active">
                  <li class="page-item" (click)="next(paginadores[i], tower)">
                    <a class="page-link" mdbWavesEffect>Next</a>
                  </li>
                </ul>
              </nav>
          </mdb-accordion-item-body>
        </mdb-accordion-item>
      </mdb-accordion>
</div>