.projects-title {
    position: relative;
}

.sync-title {
    margin-top: 3%;
}

.description-offline {
    color: #000000;
    font-size: 40px;
}

.important-text {
    font-weight: bold;
}

.projects-title::after {
    content: " ";
    position: absolute;
    height: 2px;
    background-color: #359bcc;
    overflow: visible;
    width: 90%;
    margin: 0 5% 0 5%;
    left: 0;
    top: 40px;
}

button {
    border:none;
    color: white;
    border-radius: 10px;
    padding: 5px 20px;
    margin: 0 5px;
    font-size: 1.5rem;
    width: 40%;
}

[primary] {
    background-color: #359bcc;
}


.switch.success-switch label input[type=checkbox]:checked+.lever {
    background-color: #2ACC6C;
}

.switch.success-switch label input[type=checkbox]:checked+.lever:after {
    background-color: #00C851;
}

.text-size-audits-owner {
    font-size: 30px;
}