<div class="p-md-5 pt-5 text-center">
  <h2 class="text-primary font-weight-bold projects-title">Sincronización</h2>
  <h2 class="text-primary sync-title">Estado de sincronización de datos</h2>
  <mdb-tabset
    #staticTabs
    [buttonClass]="'nav md-pills pills-primary mb-2'"
    [justified]="true"
  >
    <!--Panel 1-->
    <mdb-tab heading="Proyectos">
      <div class="pt-4">
        <mdb-select
          (selected)="loadProjectLocal($event)"
          [options]="listProjects"
          label="Proyecto"
          placeholder="Elige un proyecto"
          class="colorful-select dropdown-primary"
        >
        </mdb-select>
        <div class="d-flex flex-column">
          <div *ngIf="showLoaderSync">
            <div class="fa-3x" style="margin-top: 5%; margin-bottom: 5%">
              <i style="font-size: 3em" class="fas fa-sync fa-spin"></i>
            </div>
            <span class="description-offline"
              >Nos encontramos sincronizando el proyecto por favor espera un
              momento...</span
            >
          </div>
          <div *ngIf="!showLoaderSync && !showNoSyncProject">
            <div class="p-2">
              <img src="../../../assets/images/check.svg" alt="Check" />
            </div>
            <div class="p-2">
              <span class="description-offline"
                >Proyecto sincronizado y listo para ser usado en modo
                offline</span
              >
            </div>
            <div class="p-2">
              <span
                >Última actualización el
                <span class="important-text">{{ getLastDateUpdate }}</span> para
                el proyecto
                <span class="important-text">{{ projectName }}</span></span
              >
            </div>
          </div>
          <div *ngIf="showNoSyncProject">
            <div class="p-2">
              <img src="../../../assets/images/check.svg" alt="Check" />
            </div>
            <div class="p-2">
              <span class="description-offline"
                >Seleccione un proyecto para sincronizar</span
              >
            </div>
          </div>
        </div>
      </div>
    </mdb-tab>
    <!--Panel 2-->
    <mdb-tab heading="Auditorias">
      <div class="d-flex flex-column">
        <div class="p-2">
          <span class="text-size-audits-owner"
            >Hay
            {{ projects?.length === null ? 0 : projects?.length }} auditoria(s)
            pendiente(s) por sincronizar</span
          >
        </div>
        <div class="p-2">
          <div class="card-actions d-flex justify-content-center p-md-1">
            <button
              mdbWavesEffect
              primary
              class="z-depth-1"
              (click)="syncData()"
            >
              Sincronizar
            </button>
          </div>
        </div>
        <div class="p-2">
          <span
            >Última actualización el
            <span class="important-text">{{ getLastDateUpdate }}</span> para el
            proyecto <span class="important-text">{{ projectName }}</span></span
          >
        </div>
      </div>
    </mdb-tab>
    <!--Panel 3-->
    <mdb-tab heading="Entregas">
      <div class="d-flex flex-column">
        <div class="p-2">
          <span class="text-size-audits-owner"
            >Hay
            {{
              ownerAudits?.length === null ? 0 : ownerAudits?.length
            }}
            entrega(s) pendiente(s) por sincronizar</span
          >
        </div>
        <div class="p-2">
          <div class="card-actions d-flex justify-content-center p-md-1">
            <button
              mdbWavesEffect
              primary
              class="z-depth-1"
              (click)="syncDataEntrega()"
            >
              Sincronizar Entrega
            </button>
          </div>
        </div>
        <div class="p-2">
          <span
            >Última actualización el
            <span class="important-text">{{ getLastDateUpdate }}</span> para el
            proyecto <span class="important-text">{{ projectName }}</span></span
          >
        </div>
      </div>
    </mdb-tab>
  </mdb-tabset>
</div>
<ngx-spinner
  bdColor="rgba(66,133,244,0.8)"
  size="large"
  color="#fff"
  type="ball-spin"
  [fullScreen]="true"
  ><p style="color: white">
    Nos encontramos sincronizando las información...
  </p></ngx-spinner
>
