<div class="pt-4">
    <mdb-select (selected)="goToProjectHistory($event)" [options]="projects" label="Proyecto"
        placeholder="Elige un proyecto" class="colorful-select dropdown-primary">
    </mdb-select>
</div>