<div style="width: 100%; overflow-y: visible; overflow-x:scroll; height: 100%;">
  <div class="row m-2">
    <select class="browser-default custom-select col-md-3 col-sm-6" [(ngModel)]="globalType">
      <option selected>Tipo</option>
      <option *ngFor="let option of options; let j = index" value="{{j}}">{{option}}</option>
    </select>
    <button mdbBtn  size="sm" class="c-primary" (click)="applyType()" class="col-md-2 col-sm-6">Aplicar</button>
  </div>
<table mdbTable striped="true" [formGroup]="typesForm">
    <thead class="bg-primary white-text">
      <tr>
        <th><mdb-checkbox formControlName="checked" (change)="toggleAllChecks()" #checkbox></mdb-checkbox></th>
        <th *ngFor="let head of tableHeaders" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody formArrayName="types">
        <tr mdbTableCol *ngFor="let element of noms; let i = index" [formGroupName]="i">
            <td><mdb-checkbox formControlName="checked" (change)="checkToggles()"></mdb-checkbox></td>
            <td scope="row">{{element.tower}}</td>
          <td><select class="browser-default custom-select" formControlName="type" (change)="changeType(i, $event)">
              <option selected value="">Seleccionar Tipo</option>
              <option *ngFor="let option of options; let j = index" value="{{j}}">{{option}}</option>
            </select></td>
          <td>{{element.nom}}</td>
        </tr>
    </tbody>
  </table>
</div>
<div class="step-actions">
    <button mdbBtn  size="sm" class="c-primary" (click)="createProject()">Terminar</button>
  </div>
