@media all screen and (min-width: 700px) and (max-width: 1600px){ 
    mdb-side-nav {
        position: relative;
        height: 1vl!important;
        z-index: 1;
        width: auto;
        transform: translateX(0%)!important;
    }

    /deep/.side-nav {
        position:relative!important;
    }

    /deep/.wide {
        position: relative;
        width: 240px;
    }

    /deep/.slim {
        width: 60px!important;
        transform: translateX(0%)!important;
    }
 }


 @media all and (min-width: 1148px) { 
    mdb-side-nav {
        position: relative;
        height: 1vl!important;
        z-index: 1;
        width: auto;
        transform: translateX(0%)!important;
    }

    /deep/.side-nav {
        position:relative!important;
        transform:translate(0%)!important
    }

    /deep/.wide {
        position: relative;
        width: 240px;
    }

    /deep/.slim {
        width: 60px!important;
        transform: translateX(0%)!important;
    }
 }

 .side-nav {
     z-index: 1040px!important;
 }

 mdb-side-nav {
     z-index:1040;
 }

 .img-hidden {
     display: none!important;
     opacity: 0;
 }

 .sidebar-control {
     top: 50%;
     transform: translateY(-50%);
     height: 30px;
     width: 20px;
     background-color: white;
     transition: all linear .17s;
     z-index: 999;
     border-radius: 0 50% 50% 0;
     display: flex!important;
    justify-content: center;
    align-items: center;
 }

 .opened {
    left: 240px;
 }

 .closed {
    left: 0px;
 }