<!-- not logging -->
<div #notLogin class="d-md-flex d-lg-flex d-xl-flex h-100 clearfix w-100">
  <!-- SIDEBAR -->
  <!-- open - close button -->
  <div
    #sidenavbutton
    id="sidenavbutton"
    class="d-block d-md-none position-fixed .z-depth-1-half
  sidebar-control text-center align-text-center {{ getState() }}"
    (click)="toggle()"
  >
    <mdb-icon fas icon="{{ icon }}" style="color: #0099cc; font-size: 40px;"></mdb-icon>
  </div>
  <!-- Sidebar navigation -->
  <mdb-side-nav
    #sidenav
    id="sidenav"
    class="wide"
    [fixed]="true"
    *ngIf="isLoggedIn()"
    style="overflow-x: visible !important"
  >
    <img
      src="../assets/images/constructora.jpg"
      alt="Responsive image"
      class="img-fluid"
    />

    <mdb-navbar-brand>
      <!-- Logo -->
      <li>
        <div class="logo-wrapper sn-ad-avatar-wrapper">
          <a href="#"
            ><img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg"
              class="rounded-circle"
            /><span>{{ getName() }}</span></a
          >
        </div>
      </li>
      <!--/. Logo -->
    </mdb-navbar-brand>

    <links>
      <!-- Side navigation links -->
      <li>
        <ul class="collapsible collapsible-accordion">
          <mdb-accordion [multiple]="false" aria-multiselectable="false">
            <!-- Collapsible link -->
            <mdb-accordion-item
              *ngIf="
                checkRoles(['ADMIN', 'RESIDENTE_ENTREGA', 'RESIDENTE_OBRA'])
              "
            >
              <mdb-accordion-item-head mdbWavesEffect>
                <mdb-icon fas icon="chevron-right"></mdb-icon> Proyectos Inicio
              </mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li>
                    <a
                      routerLink="/projects"
                      routerLinkActive="active"
                      href="#"
                      mdbWavesEffect
                      >Ver proyectos</a
                    >
                  </li>
                  <!--  <li><a routerLink="/projects/cache" routerLinkActive="active" href="#" mdbWavesEffect>Ver proyectos Cache</a></li> -->
                  <li *ngIf="checkRoles(['ADMIN', 'RESIDENTE_ENTREGA'])">
                    <a
                      routerLink="/new_project"
                      routerLinkActive="active"
                      href="#"
                      mdbWavesEffect
                      >agregar proyecto</a
                    >
                  </li>
                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

            <!-- Collapsible link -->
            <mdb-accordion-item
              *ngIf="checkRoles(['ADMIN', 'RESIDENTE_ENTREGA'])"
            >
              <mdb-accordion-item-head mdbWavesEffect>
                <mdb-icon far icon="eye"></mdb-icon> Historial
              </mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li>
                    <a
                      href="#"
                      (click)="setOwner('Proyectos')"
                      [routerLink]="'/historic'"
                      mdbWavesEffect
                      routerLinkActive="active"
                      >Historial proyectos</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      (click)="setOwner('Entregas')"
                      routerLink="/historic/owner/true/project_selection"
                      routerLinkActive="active"
                      mdbWavesEffect
                      >Historial entregas</a
                    >
                  </li>
                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

            <!-- Simple link -->
            <mdb-accordion-item
              class="no-collase"
              [routerLink]="['/signup']"
              *ngIf="checkRoles(['ADMIN'])"
            >
              <mdb-accordion-item-head mdbWavesEffect>
                <mdb-icon far icon="gem"></mdb-icon> Agregar Usuario
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <!-- Simple link -->
            <mdb-accordion-item
              class="no-collase"
              routerLink="/reform"
              routerLinkActive="active"
              *ngIf="checkRoles(['ADMIN', 'RESIDENTE_ENTREGA'])"
            >
              <mdb-accordion-item-head mdbWavesEffect>
                <mdb-icon far icon="hand-pointer"></mdb-icon> Reformas
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item
              class="no-collase"
              routerLink="/delivery"
              routerLinkActive="active"
              *ngIf="
                checkRoles(['ADMIN', 'RESIDENTE_ENTREGA', 'RESIDENTE_OBRA'])
              "
            >
              <mdb-accordion-item-head mdbWavesEffect>
                <mdb-icon far icon="hand-pointer"></mdb-icon> Entregas
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item class="no-collase">
              <mdb-accordion-item-head mdbWavesEffect (click)="logout()"
                ><i class="fas fa-sign-out-alt"></i> Cerrar Sesión
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>
            <mdb-accordion-item
              *ngIf="
                checkRoles(['ADMIN', 'RESIDENTE_ENTREGA', 'RESIDENTE_OBRA'])
              "
            >
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fas fa-wifi"></i> Modo offline
              </mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li>
                    <a
                      routerLink="/offline-projects"
                      routerLinkActive="active"
                      href="#"
                      mdbWavesEffect
                      >Ver proyecto</a
                    >
                  </li>
                  <li *ngIf="checkRoles(['ADMIN', 'RESIDENTE_ENTREGA'])">
                    <a
                      routerLink="/sync-data"
                      routerLinkActive="active"
                      href="#"
                      mdbWavesEffect
                      >Sincronizar proyectos</a
                    >
                  </li>
                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>
          </mdb-accordion>
        </ul>
      </li>
      <!--/. Side navigation links -->
    </links>
    <div class="sidenav-bg info-color-dark"></div>
  </mdb-side-nav>
  <!--/. Sidebar navigation -->
  <div class="w-100" style="width: 100vh; height: 100vh; overflow-y: scroll">
    <router-outlet class="main-router"></router-outlet>
  </div>
</div>
