<form class="p-3" [formGroup]="typeForm">
    <div class="md-form">
        <input type="text" id="typename"
        class="form-control" formControlName="name" mdbInput mdbValidate>
        <label for="typename">Tipo</label>
    </div>
    <div class="row">
        <button mdbBtn size="sm" class="c-primary" (click)="createType()">Continuar</button>
    </div>
</form>