<div class="row h-100 d-flex w-100 justify-content-center align-items-center">
    <!-- Material form login -->
<mdb-card class="w-75">

    <mdb-card-header class="info-color white-text text-center py-4">
      <h5>
        <strong>Registro</strong>
      </h5>
    </mdb-card-header>
  
  
    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">
  
      <!-- Form -->
      <form class="text-center" style="color: #757575;" [formGroup]="signupForm">
        
        <!-- Name -->
        <div class="md-form">
            <input type="email" id="materialLoginFormName" class="form-control" mdbInput formControlName="name">
            <label for="materialLoginFormName">Nombre</label>
            <mdb-error *ngIf="signupForm.controls.name.invalid && signupForm.controls.name.touched">Es requerido</mdb-error>
          </div>

        <!-- Email -->
        <div class="md-form">
          <input type="email" id="materialLoginFormEmail" class="form-control" mdbInput formControlName="email">
          <label for="materialLoginFormEmail">Correo Electrónico</label>
          <mdb-error *ngIf="signupForm.controls.email.hasError('required') && signupForm.controls.email.touched">Es requerido</mdb-error>
          <mdb-error *ngIf="signupForm.controls.email.hasError('email') && signupForm.controls.email.touched">Debe ser un correo electrónico valido</mdb-error>
        </div>
  
        <!-- Password -->
        <div class="md-form">
          <input type="password" id="materialLoginFormPassword" class="form-control" mdbInput formControlName="password">
          <label for="materialLoginFormPassword">Contraseña</label>
          <mdb-error *ngIf="signupForm.controls.password.invalid && signupForm.controls.password.touched">Es requerido</mdb-error>
        </div>

        <div class="row">
            <div class="col-md-6">
              <mdb-select [options]="options" placeholder="Seleccionar rol" (selected)="optionSelected($event)"></mdb-select>
            </div>
          </div>
  
        <!-- Sign in button -->
        <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
          type="submit" (click)="signup()">Registrar Usuario</button>
  
      </form>
      <!-- Form -->
  
    </mdb-card-body>
  
  </mdb-card>
  <!-- Material form login -->
</div>
