<div class="p-md-3 h-100" style="overflow: scroll;" *ngIf="ready">
  <mdb-accordion [multiple]="false">
      <div *ngFor="let tower of project.towers; let i = index">
          <mdb-accordion-item [collapsed]="true" *ngIf="checkAprovedAptos(); else noAproveds">
              <mdb-accordion-item-head class="bg-second" *ngIf="checkAprobedAptosByTower(tower)">{{tower.name}} </mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul class="list-group p-sm-1">
                    <li class="list-group-item d-flex row p-sm-1">
                        <div class="col-4 p-0">Apto</div>
                        <div class="col-4 p-0">Estado</div>
                    </li>
                    <div *ngFor="let apto of tower.nomenclaturesPage.pageContent; let j = index">
                      <li class="list-group-item d-flex row {{apto.state}}" *ngIf="apto.state == 'APROBADO'"
                      (click)="goToDelivery(tower.name, apto.number, apto)" >
                          <div class="col-4 p-0">{{apto.number}}</div>
                          
                          <div class="col-4 p-0">{{apto.state}}</div>
                      </li>
                    </div>
                  </ul>
                  <nav aria-label="Page navigation example my-3" *ngIf="paginadores">
                    <ul class="pagination pg-blue justify-content-center">
                      <li class="page-item" (click)="previous(paginadores[i], tower)">
                        <span class="page-link">Previous</span>
                      </li>
                      <li *ngFor="let pagenum of paginadores[i].pages; let p = index" class="page-item {{(pagenum === paginadores[i].page)? 'active' : ''}}" (click)="setPaginador(paginadores[i], p, tower)"><a class="page-link" mdbWavesEffect>{{pagenum + 1}}</a></li>
                      <li class="page-item active">
                      <li class="page-item" (click)="next(paginadores[i], tower)">
                        <a class="page-link" mdbWavesEffect>Next</a>
                      </li>
                    </ul>
                  </nav>
                  
                  <!-- <table mdbTable>
                    <thead>
                      <tr>
                        <th scope="col">Apto </th>
                        <th scope="col">Ultima revisión</th>
                        <th scope="col">Estado</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr mdbTableCol class="{{apto.status}}" *ngFor="let apto of nom.noms; let j = index">
                        <td>{{apto.nom}}</td>
                        <td>{{date | date :'short'}}</td>
                        <td>{{apto.status}}</td>
                      </tr>
                    </tbody>
                  </table> -->
              </mdb-accordion-item-body>
            </mdb-accordion-item>
            <ng-template #noAproveds>
                Este proyecto aún no tiene apartamentos aprobados
            </ng-template>
            
      </div>
    </mdb-accordion>
</div>
