<div class="d-flex flex-column p-2 text-center">
  <div>
    <img src="../../../assets/images/offline.png" alt="Offline" />
  </div>
  <div>
    <span class="title-offline">{{title}}</span>
  </div>
  <div>
    <span
      >{{description}}</span
    >
  </div>
  <div>
    <span class="important-text description-offline">{{question}}</span>
  </div>
  <div class="row justify-content-center p-1">
    <button mdbWavesEffect primary class="z-depth-1 btn-accept" (click)="accept()">
      Aceptar
    </button>
  </div>
</div>
