<div class="row text-center" *ngIf="!ready">No hay auditorias para mostrar</div>
<div class="p-md-3 p-sm-1 container-fluid" *ngIf="ready">
    <form [formGroup]="spaceForm">
        <mdb-accordion [multiple]="false" formArrayName="spaces">
            <div *ngFor="let space of spaces.controls; let i = index">
                <mdb-accordion-item [collapsed]="false">
                    <div [formGroup]="spaces.controls[i]">
                        <div>
                            <mdb-accordion-item-head class="bg-second">{{space.get('name').value}} </mdb-accordion-item-head>
                        <mdb-accordion-item-body>
                            <ul class="list-group">
                                <div formArrayName="features">
                                    <div *ngFor="let feature of space.controls.features.controls; let j = index" [formGroupName]="j">
                                        <li class="list-group-item d-flex align-items-center justify-content-center row">
                                            <div class="col-md-2 col-sm-12 font-weight-bold">{{feature.get('name').value}}</div>
                                            <div class="col-md-1 p-0" *ngIf="space.get('name').value == 'Reformas'"><div class="font-weight-bold reform-data">Cantidad</div><div>{{feature.get('quantity').value}}</div></div>
                                            <div class="col-md-1 p-0" *ngIf="space.get('name').value == 'Reformas'"><div class="font-weight-bold reform-data">Total</div><div>{{feature.get('totalReformPrice').value}}</div></div>
                                            <div class="md-form col-md-3 col-sm-12">
                                                <input formControlName="obsVisita" type="text" class="form-control" id="{{'obsV' + i + j}}" mdbInput mdbValidate >
                                                <label for="{{'obsV' + i + j}}">Observaciones Visita</label>
                                            </div>
                                            <div class="md-form col-md-4 col-sm-12" *ngIf="!owner">
                                                <input formControlName="obsPendientes" type="text" class="form-control" id="{{'obsP' + i + j}}" mdbInput mdbValidate >
                                                <label for="{{'obsP' + i + j}}">Observaciones Pendientes</label>
                                            </div>
                                            <div class="row col-md-3 justify-content-center">
                                                <div class="switch success-switch">
                                                    <label>
                                                    <mdb-icon fas icon="times" style="color:#ff4444"></mdb-icon>
                                                      <input type="checkbox" formControlName="aproved" >
                                                      <span class="lever" style="margin: 0px 10px"></span>
                                                      <mdb-icon fas icon="check" style="color: #007e33"></mdb-icon>
                                                    </label>
                                                </div>
                                            </div>
                                        </li>
                                    </div>
                                </div>
                            </ul>
                        </mdb-accordion-item-body>
                        </div>
                    </div>
                </mdb-accordion-item>
            </div>
        </mdb-accordion>
        <div class="row p-3">
            <div class="md-form col">
                <input formControlName="obsGenerales" type="text" class="form-control" id="obsGenerales" mdbInput mdbValidate >
                <label for="obsGenerales">Observaciones Generales</label>
            </div>
        </div>
    </form>
    <br>
    <h2 *ngIf="attachments || generalAttachments.length > 0" style="font-weight: bold;">Imagenes Capturadas</h2>
    <div *ngFor="let space of attachments.audits" class="d-block">
        <h2 class="pt-3" style="color: #2EA5B0; border-bottom: 1px solid #2EA5B0;">{{space.name}}</h2>
        <div *ngFor="let feature of space.features">
            <h5 style="color: #2EA5B0;">{{feature.name}}</h5>
            <div class="row justify-content-center">
                <img *ngFor="let pic of feature.aud.attachments" [src]="multimedia + pic.resource_url" style="max-width: 33%; object-fit: scale-down;">
            </div>
        </div>
    </div>
    <div *ngIf="generalAttachments.length > 0">
        <h2 class="pt-3" style="color: #2EA5B0; border-bottom: 1px solid #2EA5B0;">Generales</h2>
        <div class="row justify-content-center">
            <img *ngFor="let pic of generalAttachments" [src]="pic" style="max-width: 33%; object-fit: scale-down;">
        </div>
    </div>
</div>
