/* You can add global styles to this file, and also import other style files */

app-feature-creation {
    height: max-content!important;
}

.feature-modal {
    top: 50%;
    transform: translateY(-50%)!important;
}

.feature-modal-rounded {
    top: 50%;
    transform: translateY(-50%)!important;
    padding: 20px;
    border-radius: 20px;
}

.modal-dialog-centered {
    height: max-content!important;
}

.bg.second {
    background-color: #e9eaed;
}

.app-title {
    position: relative;
}

.app-title::after {
    content: " ";
    position: absolute;
    height: 2px;
    background-color: #359bcc;
    overflow: visible;
    width: 90%;
    margin: 0 5% 0 5%;
    left: 0;
    top: 40px;
}

.PENDIENTE {
    color: #ff8800;
    position: relative;
    cursor: pointer;
    min-width: 94.14px;
}

.REPROGRAMADO {
    color: #9933cc;
    position: relative;
    cursor: pointer;
    min-width: 94.14px;
}

.APROBADO {
    color: #007e33;
    position: relative;
    cursor: pointer;
    min-width: 94.14px;
}

.ENTREGADO {
    color: #1d41e4;
    position: relative;
    cursor: pointer;
    min-width: 94.14px;
}

.PENDIENTE::before {
    content: " ";
    position: absolute;
    top: 50%;
    left: -13px;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    background-color: #ff8800;
    border-radius: 50%;
}

.REPROGRAMADO::before {
    content: " ";
    position: absolute;
    top: 50%;
    left: -13px;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    background-color: #9933cc;
    border-radius: 50%;
}

.APROBADO::before {
    content: " ";
    position: absolute;
    top: 50%;
    left: -13px;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    background-color: #007e33;
    border-radius: 50%;
}

.ENTREGADO::before {
    content: " ";
    position: absolute;
    top: 50%;
    left: -13px;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    background-color: #1d41e4;
    border-radius: 50%;
}



::ng-deep .btn-primary {
    background-color: #2EA5B0!important;
}

.c-primary {
    background-color: #2EA5B0!important;
}