<div class="p-md-5 p-sm-1 p-xs-1 pt-5 text-center" style="height: 100%!important; overflow: scroll" *ngIf="ready">
    <h2 class="text-primary font-weight-bold projects-title mb-4">{{project.name}}</h2>
    <h4 class="subtitle white-text mt-2">{{towerIndex}}</h4>
    <h3 class="p-2 apto">Apartamento {{aptoIndex}}</h3>
    <h5 class="type">Tipo: </h5>

    <!-- Accordion -->
    <div class="p-md-3 p-sm-1 container-fluid">
        <form [formGroup]="spaceForm">
                <mdb-accordion [multiple]="false">
                    <div formArrayName="spaces">
                        <mdb-accordion-item [collapsed]="true" *ngFor="let space of aptoSpaces; let i = index">
                            <div [formGroup]="spaces.controls[i]">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class="switch success-switch">
                                        <label>
                                        <mdb-icon fas icon="times" style="color:#ff4444"></mdb-icon>
                                          <input type="checkbox" formControlName="toggle" (change)="toggleAllChecks(spaceForm.get('spaces').get(i.toString()), false)">
                                          <span class="lever" style="margin: 0px 10px"></span>
                                          <mdb-icon fas icon="check" style="color: #007e33"></mdb-icon>
                                        </label>
                                    </div>
                                    <mdb-accordion-item-head class="bg-second">
                                    <div>{{space.name}}</div>
                                </mdb-accordion-item-head>
                                </div>
                                <mdb-accordion-item-body>
                                    <ul class="list-group">
                                        <div formArrayName="features">
                                            <li class="list-group-item d-flex align-items-center justify-content-center row"
                                                *ngFor="let feature of space.features; let j = index" [formGroupName]="j">
                                                <div class="col-md-2 col-sm-12 font-weight-bold">{{feature.name}}</div>
                                                <div class="md-form col-md-4 col-sm-12">
                                                    <input formControlName="obs" type="text" class="form-control" id="{{'obsV' + i + j}}" mdbInput mdbValidate >
                                                    <label for="{{'obsV' + i + j}}">Observaciones</label>
                                                    <span *ngIf="spaceForm.get('spaces').get(i.toString()).get('features').get(j.toString()).get('obs').hasError('maxlength')" style="color: red;">Debe tener máximo 255 carácteres</span>
                                                </div>
                                                <div class="row col-md-4 justify-content-center">
                                                    <div class="switch success-switch">
                                                        <label>
                                                        <mdb-icon fas icon="times" style="color:#ff4444"></mdb-icon>
                                                          <input type="checkbox" formControlName="aproved" (change)="handleChange($event, spaceForm.get('spaces').get(i.toString()))">
                                                          <span class="lever" style="margin: 0px 10px"></span>
                                                          <mdb-icon fas icon="check" style="color: #007e33"></mdb-icon>
                                                        </label>
                                                    </div>
                                                </div>
                                            </li>
                                        </div>
                                    </ul>
                                </mdb-accordion-item-body>
                            </div>
                        </mdb-accordion-item>
                    </div>
    
    
                    <div *ngIf="reformas.length == reforms.controls.length && reformas.length > 0">
                        <mdb-accordion-item  [collapsed]="true">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="switch success-switch">
                                    <label>
                                    <mdb-icon fas icon="times" style="color:#ff4444"></mdb-icon>
                                        <input type="checkbox" formControlName="toggle" (change)="toggleAllChecks(spaceForm, true)">
                                        <span class="lever" style="margin: 0px 10px"></span>
                                        <mdb-icon fas icon="check" style="color: #007e33"></mdb-icon>
                                    </label>
                                </div>
                                <mdb-accordion-item-head class="bg-second">
                                    <div>Reformas</div>
                                </mdb-accordion-item-head>
                            </div>
                        <mdb-accordion-item-body>
                            <ul class="list-group">
                                <div formArrayName="reforms">
                                    <li class="list-group-item d-flex align-items-center justify-content-center row"
                                        *ngFor="let reform of reformas; let j = index" [formGroupName]="j">
                                        <div class="col-md-2 col-sm-12 font-weight-bold">{{reform.name}}</div>
                                        <div class="col-md-1 p-0"><div class="font-weight-bold reform-data">Cantidad</div><div>{{reform.quantity}}</div></div>
                                        <div class="col-md-1 p-0"><div class="font-weight-bold reform-data">Total</div><div>{{reform.totalReformPrice}}</div></div>
                                        <div class="md-form col-md-4 col-sm-12">
                                            <input formControlName="obs" type="text" class="form-control" id="{{'obsV' + j}}" mdbInput mdbValidate >
                                            <label for="{{'obsV' + j}}">Observaciones</label>
                                            <span *ngIf="spaceForm.get('reforms').get(j.toString()).get('obs').hasError('maxlength')" style="color: red;">Debe tener máximo 255 carácteres</span>
                                        </div>
                                            <!-- <div style="display: block; position: relative; cursor: pointer;" class="px-2">
                                                <input class="image-upload-input" type="file"
                                                accept="image/*" capture="camera" (change)="addPicture($event, i, j, feature.id)"/>
                                                <mdb-icon style="cursor: pointer;" fas icon="camera"></mdb-icon>
                                            </div>
                                            <div style="position: relative; cursor: pointer;" #badge>
                                                <mdb-icon fas icon="images" class="px-2" (click)="openCarouselModal(i, j)"></mdb-icon>
                                                <mdb-badge pill="true" *ngIf="getNumPics(i,j) > 0" default="true">{{getNumPics(i,j)}}</mdb-badge>
                                            </div> -->
                                            <div class="switch success-switch">
                                                <label>
                                                <mdb-icon fas icon="times" style="color:#ff4444"></mdb-icon>
                                                  <input type="checkbox" formControlName="aproved" (change)="handleChange($event, spaceForm)">
                                                  <span class="lever" style="margin: 0px 10px"></span>
                                                  <mdb-icon fas icon="check" style="color: #007e33"></mdb-icon>
                                                </label>
                                            </div>
                                    </li>
                                </div>
                            </ul>
                        </mdb-accordion-item-body>
                        </mdb-accordion-item>
                    </div>
            </mdb-accordion>
            <div class="row justify-content-center">
                <button type="button" mdbBtn class="waves-light bg-primary white-text" aria-label="Close" (click)="reject()"
                    [disabled]="spaceForm.valid"
                    mdbWavesEffect>Reachazar</button>
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="aprove()"
                    [disabled]="spaceForm.invalid"
                    mdbWavesEffect>Aceptar</button>
            </div>
            <span *ngIf="spaceForm.invalid" class="blue-grey-text font-weight-light aprove-label">Para aprobar el proyecto todas las caracteristicas deben estar aprobadas.</span>
        </form>
    </div>
    <div class="row justify-content-center">
        <img *ngFor="let pic of pictures" [src]="pic.url" style="max-width: 33%; object-fit: scale-down;">
    </div>
</div>