<div class="p-md-3 h-100" style="overflow: scroll;" *ngIf="ready && towers.length > 0; else noAuds">
    <mdb-accordion [multiple]="false">
        <mdb-accordion-item [collapsed]="true" *ngFor="let tower of towers; let i = index">
          <mdb-accordion-item-head class="bg-second">{{tower.name}} </mdb-accordion-item-head>
          <mdb-accordion-item-body>
            <ul class="list-group p-sm-1">
                <li class="list-group-item d-flex row p-sm-1">
                    <div class="col-4 p-0">Apto</div>
                    <div class="col-3 p-0">Última revisión</div>
                    <div class="col-4 p-0">Estado</div>
                    <div class="col-1 p-0">Acta Entrega</div>
                </li>
                <li class="list-group-item d-flex row {{apto.state}}" *ngFor="let apto of tower.nomenclaturesPage.pageContent; let j = index">
                    <div class="col-4 p-0" (click)="goToAuditHistory(tower.name, apto.number, apto)">{{apto.number}}</div>
                    <div class="col-3 p-0" (click)="goToAuditHistory(tower.name, apto.number, apto)">{{getDate(apto.lastModifiedDate.date)}}</div>
                    <ng-template #noAudits>
                      <div class="col-3 p-0" (click)="goToAuditHistory(tower.name, apto.number, apto)">Sin revisiones</div>
                    </ng-template>
                    
                    <div class="col-4 p-0" (click)="goToAuditHistory(tower.name, apto.number, apto)">{{apto.state}}</div>
                    <mdb-icon class="col-1 p-0 d-flex align-items-center justify-content-center" *ngIf="apto.contract != undefined"
                    fas icon="file-pdf" style="cursor: pointer;" (click)="getContract(tower.name, apto)"></mdb-icon>
                </li>
              </ul>
              <nav aria-label="Page navigation example my-3" *ngIf="paginadores">
                <ul class="pagination pg-blue justify-content-center">
                  <li class="page-item" (click)="previous(paginadores[i], tower)">
                    <span class="page-link">Previous</span>
                  </li>
                  <li *ngFor="let pagenum of paginadores[i].pages; let p = index" class="page-item {{(pagenum === paginadores[i].page)? 'active' : ''}}" (click)="setPaginador(paginadores[i], p, tower)"><a class="page-link" mdbWavesEffect>{{pagenum + 1}}</a></li>
                  <li class="page-item active">
                  <li class="page-item" (click)="next(paginadores[i], tower)">
                    <a class="page-link" mdbWavesEffect>Next</a>
                  </li>
                </ul>
              </nav>
              <!-- <table mdbTable>
                <thead>
                  <tr>
                    <th scope="col">Apto </th>
                    <th scope="col">Ultima revisión</th>
                    <th scope="col">Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr mdbTableCol class="{{apto.status}}" *ngFor="let apto of nom.noms; let j = index">
                    <td>{{apto.nom}}</td>
                    <td>{{date | date :'short'}}</td>
                    <td>{{apto.status}}</td>
                  </tr>
                </tbody>
              </table> -->
          </mdb-accordion-item-body>
        </mdb-accordion-item>
      </mdb-accordion>
</div>
<ng-template #noAuds class="p-md-3 h-100">
  No hay apartamentos aprobados aún
</ng-template>
