.projects-title {
    position: relative;
    background-color: white;
}

.projects-title::after {
    content: " ";
    position: absolute;
    height: 3px;
    background-color: #359bcc;
    overflow: visible;
    width: 90%;
    margin: 0 5% 0 5%;
    left: 0;
    bottom: -10px;
}

.subtitle {
    position: relative;
}

.subtitle::before {
    content: " ";
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: -1;
    position:absolute;
    background-color: #359bcc;
}

.type {
    color: #979799;
}

.apto {
    margin: 0;
}

.spacer {
    flex: 1 1 auto;
}

.list-group-item {
    border: none !important;
}

.md-form {
    margin: 0!important;
}

.list-group-item:nth-child(odd) {
    background-color: #359ccc17;
}
.image-upload {
    background-color: #ffffff;
    width: 100%;
    margin: 0px auto;
    padding: 20px;
}

.image-upload-wrap {
    position: relative;
    cursor: pointer;
    height: auto;
    overflow: hidden;
}

.image-upload-input {
    position: absolute!important;
    margin: 0;
    padding: 0;
    outline: none;
    opacity: 0;
    top:0;
    left:0;
    cursor: pointer;
    width: 100%;
}

h2 {
    font-weight: bold;
    font-size: 25px!important;
    line-height: 29px;
    color: #646464;
}

h3 {
    font-weight: normal;
    font-size: 18px!important;
    line-height: 21px;
    color: #646464;
}

strong {
    color: black;
}

.main-text {
    padding: 30px 0;
}

.image-upload-content {
    /* display: none; */
    text-align: center;
}

.upload-image {
    width: 100%;
    margin: auto;
}

/deep/mdb-badge {
    position: absolute!important;
    padding: 3px!important;
    border-radius: 50%;
    width: 16px;
    left: 32px;
}

.switch.success-switch label input[type=checkbox]:checked + .lever {
    background-color: #2ACC6C;
}

.aprove-label {
    font-size: 14px;
}
