.projects-title {
    position: relative;
}

.project-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.projects-title::after {
    content: " ";
    position: absolute;
    height: 2px;
    background-color: #359bcc;
    overflow: visible;
    width: 90%;
    margin: 0 5% 0 5%;
    left: 0;
    top: 40px;
}

.card-content {
    position: relative;
    width: 100%;
    margin-bottom: auto!important;
}

.floating {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #2c83ac;
}

.card-image {
    width: 100%;
    position: relative;
    display: block;
}

.card-image-container {

}

.list-group-item {
    border: none!important;
}

.card-title > h5 {
    font-weight: 400;
    color: #359bcc;
}

.card-actions > button {
    border:none;
    color: white;
    border-radius: 10em;
    padding: 5px 20px;
    margin: 0 5px;
    font-size: .81rem;
}

.card-actions {
    margin-top: auto!important;
}

[danger] {
    background-color: #ff3547 
}

[primary] {
    background-color: #359bcc;
}

.switch.success-switch label input[type=checkbox]:checked + .lever {
    background-color: #2ACC6C;
}
.switch.success-switch label input[type=checkbox]:checked + .lever:after {
    background-color: #00C851;
}
