<div class="p-md-5 pt-5 text-center">
  <!-- Material checked -->
  <div class="switch success-switch text-right">
    <label>
      Modo Offline
      <input type="checkbox" [checked]="modoOffline" />
      <span class="lever"></span>
    </label>
  </div>
  <h2 class="text-primary font-weight-bold projects-title">
    Proyectos {{ cache ? "En cache" : "" }}
  </h2>
  <div class="row" *ngIf="loaded; else loading">
    <div
      class="col-md-4 p-2 col-sm-6 text-md-left text-sm-center"
    >
      <div
        class="project-card align-items-center p-md-1 z-depth-1 rounded"
        style="cursor: pointer"
      >
        <!--Card image-->
        <div
          class="card-content row m-1 rounded"
          [routerLink]="['/project', projectdata.id]"
          (click)="resetProject()"
        >
          <img
            class="card-image col-7 p-0"
            src="{{ getProjectImage(projectdata.image_url) }}"
            alt="{{ projectdata.name }}"
          />
          <!--Card content-->
          <div class="card-body col-5 pl-3 p-1 d-flex align-items-center">
            <div>
              <!--Title-->
              <div class="card-title">
                <h5>{{ projectdata.name }}</h5>
              </div>

              <!--Text-->
              <div class="card-text">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item p-1">
                    Torres: {{ projectdata.towers.length }}
                  </li>
                  <li class="list-group-item p-1">
                    Aptos: {{ projectdata.towers[0].nomenclaturesCount }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="card-actions d-flex justify-content-center p-md-1">
          <button
            mdbWavesEffect
            primary
            class="z-depth-1"
            [routerLink]="['/project', projectdata.id]"
            (click)="resetProject()"
          >
            Ver
          </button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading> ... Cargando </ng-template>
</div>
