<div class="p-md-3" *ngIf="loaded">
    <mdb-accordion [multiple]="false">
        <mdb-accordion-item [collapsed]="true" *ngFor="let nom of noms; let i = index">
          <mdb-accordion-item-head class="bg-second">{{nom.tower}} </mdb-accordion-item-head>
          <mdb-accordion-item-body>
            <ul class="list-group p-sm-1">
                <li class="list-group-item d-flex row p-sm-1">
                    <div class="col-4 p-0">Apto</div>
                    <div class="col-4 p-0">Estado</div>
                </li>
                <li class="list-group-item d-flex row {{apto.state}}" *ngFor="let apto of nom.noms; let j = index"
                (click)="goToAptoReforms(nom.tower, apto)">
                    <div class="col-4 p-0">{{apto.number}}</div>
                    <div class="col-4 p-0">{{apto.state}}</div>
                </li>
              </ul>
              <!-- <table mdbTable>
                <thead>
                  <tr>
                    <th scope="col">Apto </th>
                    <th scope="col">Ultima revisión</th>
                    <th scope="col">Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr mdbTableCol class="{{apto.status}}" *ngFor="let apto of nom.noms; let j = index">
                    <td>{{apto.nom}}</td>
                    <td>{{date | date :'short'}}</td>
                    <td>{{apto.status}}</td>
                  </tr>
                </tbody>
              </table> -->
          </mdb-accordion-item-body>
        </mdb-accordion-item>
      </mdb-accordion>
</div>