<div class="container text-center">
    <h2 class="font-weight-bold">Motivo del desistimiento</h2>
    <div class="md-form">
        <textarea type="text" id="form7" [(ngModel)]="reason"
        class="md-textarea form-control" mdbInput></textarea>
        <label for="form7">Razón del desistimiento</label>
      </div>
      <mdb-checkbox [(ngModel)]="show">Desistir y reasignar tipología</mdb-checkbox>
      <div *ngIf="show" class="d-flex mb-2">
          <span>Reasignar a tipología: </span>
        <select [(ngModel)]="newType" class="browser-default custom-select">
            <option selected>Nuevo tipo</option>
            <!-- <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option> -->
            <option *ngFor="let type of projectTypes" [value]="type.id">{{type.name}}</option>
          </select>
      </div>
      <h3 class="font-weight-bold">Desistir nomenclatura {{nomenclature.number}}</h3>
      <div class="d-flex justify-content-between p-1">
        <button style="min-width: 120px!important;" type="button" mdbBtn color="primary" mdbWavesEffect (click)="onYesClick()">Sí</button>
        <button style="min-width: 120px!important;" type="button" mdbBtn color="secondary" mdbWavesEffect (click)="onNoClick()">No</button>
      </div>
</div>
